.main-block{
  background: #c1b9b94a;
  position: fixed;
  height: 100vh;
  width: 100%;
}
.customPusher{
  position: absolute;
  height: 100vh;
  width: 100%;
  top:0;
  left:-50px;
  background: red;
}
