:host {
  color: #ccc;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  min-width: 650px;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  overflow-y: auto;
  background: #fff;
}

ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 50px;
  list-style: none;
}
