
<div class="body">



<div class="login">
<app-loader></app-loader>
	<h2>Reset Password</h2>
	<form>
		<input type="password" class="user active" value="New Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User name';}"/>
		<input type="password" class="user active" value="Retype New Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User name';}"/>
	</form>

	<div class="login-bwn">
	   <input type="submit" value="Reset Password" style="width:80%"/>

	</div>
	<div class="forgot" style="padding-bottom:20px;">

		<div class="clear"> </div>
	</div>

</div>

</div>
