<md-toolbar color="primary">
  <md-toolbar-row>
  </md-toolbar-row>
</md-toolbar>

<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center start">
  <div fxFlex.xl="50" fxFlex.lg="70" fxFlex.md="80" fxFlex.sm="90" fxFlex.xs="100" fxFlex="100">
    <md-card class="mat-card-top">
      <form [formGroup]="userAddForm">
        <md-tab-group (selectChange)="onChangingTab(saveBtn,$event)" #tabGrp>
          <!-- General -->
          <md-tab>
            <ng-template md-tab-label>Primary</ng-template>
            <md-card-content>
              <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center" class="mb-1 pl-1 pr-1">
                <div fxFlex.xl="30" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="40" fxFlex.xs="100" fxFlex="100">
                  <div class="user--Upload-Profile" ng2FileDrop (ng2FileDropFileAccepted)="dragFileAccepted($event)" (click)="file.click()">
                    <input type="file" #file style="display:none" (click)="setEmptyFileValue(file)" (change)="onUploadFileChange($event)">
                    <img md-card-image [src]="userImage" alt="default avatar image">
                  </div>
                </div>
                <div fxLayout="column" fxFlex.xl="70" fxFlex.lg="70" fxFlex.md="70" fxFlex.sm="60" fxFlex.xs="100" fxFlex="100" class="pl-1 pr-1">
                  <md-input-container class="mb-1">
                    <input mdInput placeholder="Enter First Name" formControlName="firstName">
                    <md-hint align="start">
                      <strong *ngIf="userAddForm.controls['firstName'].hasError('required') && userAddForm.controls['firstName'].touched" class="mat-text-warn">
                       First name is required
                      </strong>
                    </md-hint>
                  </md-input-container>

                  <!-- Last Name -->
                  <md-input-container>
                    <input mdInput placeholder="Surname" formControlName="surname">
                    <md-hint align="start">
                      <strong *ngIf="userAddForm.controls['surname'].hasError('required') && userAddForm.controls['surname'].touched" class="mat-text-warn">
                          Surname is required
                        </strong>
                    </md-hint>
                  </md-input-container>
                </div>
              </div>
              <!-- end of first row-->

              <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center" class="pl-1 pr-1">
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <!-- Email Address -->
                  <md-input-container class="mb-1" style="width:100%;">
                    <input mdInput placeholder="Email ID" formControlName="email" type="email">
                    <md-hint align="start">
                      <strong *ngIf="userAddForm.controls['email'].hasError('required') && userAddForm.controls['email'].touched" class="mat-text-warn">
                              Email is required
                         </strong>
                         <strong *ngIf="userAddForm.controls['email'].hasError('pattern')" class="mat-text-warn">
                            Enter valid email address
                       </strong>
                    </md-hint>
                  </md-input-container>
                </div>
                <!-- Contact Number -->
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <md-input-container class="mb-1" style="width:100%;">
                    <span mdPrefix style=" display: inline-flex; vertical-align: middle !important">
                       <i class="material-icons" >smartphone</i>
                      </span>
                    <input type="tel" mdInput
                                      placeholder="Mobile Number"
                                      formControlName="mobilephone"
                                      type="number">
                    <md-hint align="start">
                      <strong *ngIf="userAddForm.controls['mobilephone'].hasError('required') && userAddForm.controls['mobilephone'].touched" class="mat-text-warn">
                           Mobilephone is required
                         </strong>
                         <strong *ngIf="userAddForm.controls['mobilephone'].hasError('minlength')" class="mat-text-warn">
                           Enter valid mobile number
                         </strong>
                    </md-hint>
                  </md-input-container>
                </div>
              </div>
              <!-- end of second row-->

              <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center" class="pl-1 pr-1">
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <!-- username -->
                  <md-input-container class="mb-1" style="width:100%;">
                    <input mdInput placeholder="Username" formControlName="username">
                    <md-hint align="start">
                      <strong *ngIf="userAddForm.controls['username'].hasError('required')
                                     && userAddForm.controls['username'].touched"
                              class="mat-text-warn">
                            Username is required
                        </strong>
                    </md-hint>
                  </md-input-container>
                </div>
                <!-- Password -->
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <md-input-container class="mb-1" style="width:100%;">
                    <input type="password" mdInput placeholder="Password" formControlName="password">
                    <md-hint align="start">
                      <strong *ngIf="userAddForm.controls['password'].hasError('required') &&
                                     userAddForm.controls['password'].touched"
                               class="mat-text-warn">
                         Password is required
                        </strong>
                        <strong *ngIf="userAddForm.controls['password'].hasError('minlength')" class="mat-text-warn">
                         Password is too weak
                           </strong>
                    </md-hint>
                  </md-input-container>
                </div>
              </div>
              <!-- end of third row-->

              <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center" class="pl-1 pr-1">
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <!-- User Role  -->
                  <md-select placeholder="Select Role" class="mb-1" style="width: 100%;" formControlName="role">
                    <md-option *ngFor="let role of roles" [value]="role">
                      {{ role }}
                    </md-option>
                  </md-select>
                  <md-hint align="start">
                    <strong *ngIf="userAddForm.controls['role'].hasError('required') && userAddForm.controls['role'].touched" class="mat-text-warn">
                         Role is required
                     </strong>
                  </md-hint>
                </div>
                <!-- Reporting to -->
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <md-select placeholder="Reporting to" class="mb-1" style="width: 100%;" formControlName="reportingTo">
                    <md-option *ngFor="let role of roles" [value]="role">
                      {{ role }}
                    </md-option>
                  </md-select>
                  <strong *ngIf="userAddForm.controls['reportingTo'].hasError('required') && userAddForm.controls['reportingTo'].touched" class="mat-text-warn">
                        Reporting To is required
                     </strong>

                </div>
              </div>
              <!-- end of fourth row-->

            </md-card-content>
          </md-tab>
          <!-- /- General -->

          <!-- Secondary -->
          <md-tab [disabled]="!otherTabsVisibility">
            <ng-template md-tab-label>Secondary</ng-template>
            <md-card-content>
              <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center" class="pl-1 pr-1">
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <!-- Address Line 1 -->
                  <md-input-container class="mb-1" style="width:100%;">
                    <input mdInput placeholder="Address line 1" formControlName="addressLine1">
                  </md-input-container>
                </div>
                <!--Address Line 2 -->
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <md-input-container class="mb-1" style="width:100%;">
                    <input mdInput placeholder="Address line 2" formControlName="addressLine2">
                  </md-input-container>
                </div>
              </div>
              <!-- end of first row-->

              <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center" class="pl-1 pr-1">
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <!-- City-->
                  <md-input-container class="mb-1" style="width:100%;">
                    <input mdInput placeholder="City" formControlName="city">
                  </md-input-container>
                </div>
                <!--county-->
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <md-input-container class="mb-1" style="width:100%;">
                    <input mdInput placeholder="County" formControlName="county">
                  </md-input-container>
                </div>
              </div>
              <!-- end of second row-->

              <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center" class="pl-1 pr-1">
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <!--country -->
                  <md-input-container class="mb-1" style="width:100%;">
                    <input mdInput placeholder="Country " formControlName="country">
                  </md-input-container>
                </div>
                <!-- Post Code -->
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <md-input-container class="mb-1" style="width:100%;">
                    <input mdInput placeholder="Post Code" formControlName="postcode">
                  </md-input-container>
                </div>
              </div>
              <!-- end of third row-->

              <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center" class="pl-1 pr-1">
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <!--Time Zone-->
                  <md-select placeholder="Time Zone" class="mb-1" style="width: 100%;" formControlName="timezone">
                    <md-option *ngFor="let role of roles" [value]="role">
                      {{ role }}
                    </md-option>
                  </md-select>
                </div>
                <!--Language -->
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <md-select placeholder="Language" class="mb-1" style="width: 100%;" formControlName="language">
                    <md-option *ngFor="let role of roles" [value]="role">
                      {{ role }}
                    </md-option>
                  </md-select>
                </div>
              </div>
              <!-- end of fourth row-->

              <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center" class="pl-1 pr-1">
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <!-- jobTitle -->
                  <md-input-container class="mb-1" style="width:100%;">
                    <input mdInput placeholder="Job Title" formControlName="jobTitle">
                  </md-input-container>
                </div>
                <!-- Contact Number -->
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <span mdPrefix class="pl-2 pr-2">Gender &nbsp;</span>
                  <md-radio-group>
                    <md-radio-button value="male">Male</md-radio-button>
                    <md-radio-button value="female">Female</md-radio-button>
                  </md-radio-group>
                </div>
              </div>
              <!-- end of fifth row-->

              <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center" class="pl-1 pr-1">
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <!-- Company name -->
                  <md-input-container class="mb-1" style="width:100%;">
                    <input mdInput placeholder="Company name" formControlName="companyName">
                  </md-input-container>
                </div>
                <!--Address Line 2 -->
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <md-input-container class="mb-1" style="width:100%;">
                    <input mdInput placeholder="Work Phone number" formControlName="workPhone">
                  </md-input-container>
                </div>
              </div>
              <!-- end of sixth row-->
            </md-card-content>
          </md-tab>


          <!-- Social -->
          <md-tab [disabled]="!otherTabsVisibility">
            <ng-template md-tab-label>Social</ng-template>
            <md-card-content>

              <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center" class="pl-1 pr-1">
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <!--Twitter ID -->
                  <md-input-container class="mb-1" style="width:100%;">
                    <input mdInput placeholder="Twitter ID" formControlName="twitter">
                  </md-input-container>
                </div>
                <!-- Skype ID -->
                <div fxFlex.gt-sm="50" fxFlex="100" class="pl-1 pr-1">
                  <md-input-container class="mb-1" style="width:100%;">
                    <input mdInput placeholder="Skype ID" formControlName="skype">
                  </md-input-container>
                </div>
              </div>
              <!-- end of first row-->

              <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center" class="pl-1 pr-1">
                <div fxFlex.gt-sm="100" fxFlex="100" class="pl-1 pr-1">
                  <!-- website-->
                  <md-input-container class="mb-1" style="width:100%;">
                    <input mdInput placeholder="Website" formControlName="website">
                  </md-input-container>
                </div>
              </div>
              <!-- end of second row-->
            </md-card-content>
          </md-tab>
          <!-- /- Personal -->
        </md-tab-group>
        <hr>
        <md-card-actions>
          <button md-raised-button #saveBtn color="primary" type="button"  [disabled]="!userAddForm.valid" (click)="onUserAddFormBtnClick(tabGrp)">Save & Continue</button>
          <button md-raised-button class="shadow-none"  color="warn" type="reset">Cancel</button>
        </md-card-actions>
      </form>
    </md-card>
  </div>
</div>
