<div class="main-container">
  <div class="login_form">
    <div class="product-image-div">
    </div>
    <div class="login-image-div">
      <img src="https://image.freepik.com/icones-gratis/plataforma-macos_318-33076.jpg" alt="" class="logo">
      <form>
        <input type="text" placeholder="Enter Email"><br>
        <input type="password" placeholder="**********"><br>
        <!-- <input type="submit" value="LOGIN" class="loginbutton"><br> -->
        <div type="button" class="loginbutton" name="button">Login</div>
      </form>
        <span class="forgotpassword">forgot password?</span>
        <div class="button" type="button" name="button">Facebook Login</div>
        <div class="button" type="button" name="button">Gmail Login</div>
    </div>

  </div>
</div>
